@font-face {
    font-family: "BrunoAce-Regular";
    src: url(../font/BrunoAce-Regular.ttf);
}

@font-face {
    font-family: "Bruno Ace";
    src: url(../font/Bruno\ Ace\ 400.ttf);
}


.cursor,
.splash {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.cursor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
   
    z-index: 1000;
}




main {
    width: 100%;
    background-color: #000113;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #111;
    color: white;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
}


.hero-section {
    background-color: #000113;
    padding: 20px;
    font-family: "BrunoAce-Regular";
}

.bg-img {
    background-image: url(../images/2151672059\ 1\ \(1\).png);
    background-size: cover;
    background-position: center;
}

.ai-gen,
.transforming-text,
.media-text {
    font-family: "BrunoAce-Regular";

}

#menuToggle {
    display: none;
}

/* media query code here......... */
@media (max-width: 1017px) {
    .sign-btn {
        display: none;
    }

    #menuToggle {
        display: block !important;
    }
}